################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C-
/CSharpPrograms/.vs/CSharpPrograms
/CSharpPrograms/CSharpPrograms/bin/Debug/net8.0
